# Twitter

---

Group name: K

---

1. Schritt: Enviroment "twitter" einstellen, "tweepy"-package gibt uns Zugriff auf die Twitter API mit Python

In [1]:
import tweepy

2. Schritt: Twitterkeys importieren

In [2]:
from keys import *

3. Schritt: keys werden in der Funktion tweepy.Client genutzt

In [3]:
import requests

In [5]:
client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

client

4. Schritt: Query definieren
- Wir suchen nach Tweets von "fivethirtyeight" und wollen Retweets dabei ausschließen

In [6]:
my_query = 'from:fivethirtyeight -is:retweet'

5. Schritt: Query abfragen
- mit der Funktion "search_recent_tweets" begrenzen wir uns auf die Tweets der letzten 7 Tage
- wir fügen extra informationen hinzu, wie z.B. die ID des Autors und wann der Tweet entstanden ist 
- wir wollen max. 100 Ergebnisse

In [7]:
tweets = client.search_recent_tweets(query=my_query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

6. Schritt: Konvertieren der Daten in einen Pandas Dataframe

In [13]:
import pandas as pd

tweets_dict = tweets.json() 
tweets_data = tweets_dict['data'] 
df = pd.json_normalize(tweets_data) 

tweets_data
df

,edit_history_tweet_ids,author_id,id,text,created_at
0,[1594765107350732800],2303751216,1594765107350732800,Check out our popular polling averages: https:...,2022-11-21T18:50:05.000Z
1,[1594741686558670849],2303751216,1594741686558670849,Our #WorldCup predictions: https://t.co/B0tBVm...,2022-11-21T17:17:01.000Z
2,[1594738916514402304],2303751216,1594738916514402304,Which World Cup player should you root for? ht...,2022-11-21T17:06:01.000Z
3,[1594718534327730190],2303751216,1594718534327730190,The midterms made state governments bluer http...,2022-11-21T15:45:01.000Z
4,[1594683556885893121],2303751216,1594683556885893121,Our NHL predictions: https://t.co/kLJIGfQc15,2022-11-21T13:26:02.000Z
...,...,...,...,...,...
95,[1592593394966183939],2303751216,1592593394966183939,When the new Congress comes into session in Ja...,2022-11-15T19:00:28.000Z
96,[1592586512700510209],2303751216,1592586512700510209,.@NateSilver538 breaks down the odds for the u...,2022-11-15T18:33:08.000Z
97,[1592574174555430912],2303751216,1592574174555430912,Bookmark our uncalled races live blog to keep ...,2022-11-15T17:44:06.000Z
98,[1592568148947271680],2303751216,1592568148947271680,"Sure, TCU could make the playoff. But more imp...",2022-11-15T17:20:09.000Z
99,[1592561435531517953],2303751216,1592561435531517953,Voter turnout was high again. Is this the new ...,2022-11-15T16:53:29.000Z

7. Schritt: Dataframe in CSV Datei umwandelnund in data/raw abspeichern

In [14]:
df.to_csv("/Users/helenbruker/Uni/OMM4/BigData/homework-1/data/raw/twitter.csv")