# Data exploration 

---

Group name: K

---

## Introduction

*This section includes a short description of the data*

## Setup

In [54]:
import pandas as pd
import altair as alt

## Data

### Import data

In [55]:
ROOT = "/Users/helenbruker/Uni/OMM4/BigData/homework-1/data/external/"
DATA = "fifa_countries_audience.csv"

df = pd.read_csv(ROOT + DATA)

### Data structure

In [56]:
df

,country,confederation,population_share,tv_audience_share,gdp_weighted_share
0,United States,CONCACAF,4.5,4.3,11.3
1,Japan,AFC,1.9,4.9,9.1
2,China,AFC,19.5,14.8,7.3
3,Germany,UEFA,1.2,2.9,6.3
4,Brazil,CONMEBOL,2.8,7.1,5.4
...,...,...,...,...,...
186,Tonga,OFC,0.0,0.0,0.0
187,Liberia,CAF,0.1,0.0,0.0
188,Palau,OFC,0.0,0.0,0.0
189,Nauru,OFC,0.0,0.0,0.0
190,Niue,OFC,0.0,0.0,0.0

### Data corrections

Change data format from object to category

In [57]:
df.country = df.country.astype("category")
df.population_share = df.population_share.astype("category")
df.tv_audience_share = df.tv_audience_share.astype("category")
df.gdp_weighted_share = df.gdp_weighted_share.astype("category")

## Exploratory data analysis

### 1. Visualization: Standard bar chart

Explanation of choice:

In [58]:
var_list = ['population_share']

var_list

['population_share']

In [59]:
source = df[var_list]

source

    population_share
0                4.5
1                1.9
2               19.5
3                1.2
4                2.8
..               ...
186              0.0
187              0.1
188              0.0
189              0.0
190              0.0

[191 rows x 1 columns]

In [60]:
var_list2 = ['country']

var_list2

['country']

In [61]:
source = df[var_list2]

source

           country
0    United States
1            Japan
2            China
3          Germany
4           Brazil
..             ...
186          Tonga
187        Liberia
188          Palau
189          Nauru
190           Niue

[191 rows x 1 columns]

### Visualizing: